## Loading essential libraries

In [2]:
import pandas as pd
import requests
import chardet
pd.set_option('display.max_rows',  35)
pd.set_option('display.max_columns' , 64 )

## Download data from website - ICO (International Coffee Organization)

In [37]:
df_list = []
url_list = ['https://www.ico.org/historical/1990%20onwards/Excel/1a%20-%20Total%20production.xlsx',
            'https://www.ico.org/historical/1990%20onwards/Excel/1b%20-%20Domestic%20consumption.xlsx',
            'https://www.ico.org/historical/1990%20onwards/Excel/2a%20-%20Exports%20-%20calendar%20year.xlsx',
            'https://www.ico.org/historical/1990%20onwards/Excel/2b%20-%20Imports.xlsx',
           ]

for url in url_list:
    response = requests.get(url)
    response.raise_for_status()
    df = pd.read_excel(url, header = 3)
    df_list.append(df)

df_total_production = df_list[0] # total production by country
df_consumption = df_list[1] # consuption by export
df_export = df_list[2]
df_inmport = df_list[3]

C:\Users\JASNYP\Desktop\Python Projects\GlobalCoffeeTrade\venv\lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
C:\Users\JASNYP\Desktop\Python Projects\GlobalCoffeeTrade\venv\lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

## Data preprocessing and cleaning for 'total production'

In [13]:
df_total_production.head(10)

,Crop year,Unnamed: 1,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,1998/99,1999/00,2000/01,2001/02,2002/03,2003/04,2004/05,2005/06,2006/07,2007/08,2008/09,2009/10,2010/11,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,April group,NaN,40795.2926,42529.5454,46868.2042,40166.7591,39990.3663,29395.9601,44297.8201,39475.8391,50892.4914,60964.3808,44388.5123,43820.7209,61377.8509,41167.9217,53794.2011,48116.2188,63835.5273,52916.7740,68552.3628,61568.4777,71811.3709,64395.2131,75895.8810,74494.0133,69873.1443,71331.7881,75507.8515,70324.4647,81707.9885,76075.7437
2,Angola,(R/A),50.3450,79.3310,77.5200,32.6080,76.8020,62.1090,70.9250,64.3300,85.3440,54.9390,49.7850,20.6900,56.6400,38.0130,14.7700,24.9650,35.0950,35.6310,37.6100,13.4200,34.9700,28.7150,32.7900,34.9350,39.4050,40.5150,44.8300,35.0060,41.9027,51.8419
3,Bolivia (Plurinational State of),(A),122.7770,103.5360,120.2350,50.8230,116.9440,142.4850,124.5790,140.7190,137.9850,157.7020,147.6040,94.0160,126.6680,103.3230,154.8071,109.9692,146.4297,116.0292,120.4186,128.4751,117.2249,131.8354,105.2812,119.9122,99.8766,84.2191,77.9835,83.8112,82.5687,81.2654
4,Brazil,(A/R),27285.6286,27293.4934,34603.3542,28166.9786,28192.0470,18060.2022,29196.7430,26148.0040,36760.8533,47577.8065,31310.3530,31365.0955,48351.6340,28873.4093,39281.1457,32932.9797,48431.7338,38911.4571,51490.5177,43976.8120,55428.4102,48591.8289,55418.0012,54688.9664,53304.7669,52870.5876,56788.1784,52739.8179,65130.7997,58210.7127
5,Burundi,(A/R),487.3930,667.1990,620.2380,393.3540,664.1430,433.9800,400.9690,249.7850,491.9920,350.5500,487.4600,143.9820,453.7320,337.8580,437.0360,103.3150,498.5000,132.8560,411.7822,111.6130,352.9776,204.1328,405.9615,163.2177,247.5500,269.4576,196.4128,202.1079,204.3391,272.4688
6,Ecuador,(A/R),1503.8150,2123.8240,1185.4800,2069.0070,2375.7660,1888.2330,1992.9140,1190.6630,1205.9680,1197.6832,853.8170,792.8470,582.2240,640.7900,780.4350,935.3007,1034.5199,950.4028,770.6473,813.2849,853.9798,825.4144,828.1024,665.5450,644.0112,644.4926,644.8845,623.5744,496.0001,558.9352
7,Indonesia,(R/A),7441.3830,8493.1960,5569.4780,6743.2880,5367.8780,4573.4290,8220.5840,7620.7780,7295.9550,6557.0662,6987.2397,6833.3560,6731.3760,6404.0760,7536.3710,9158.9594,7482.6737,7776.5557,9612.3466,11379.6699,9128.5118,6888.9233,13070.0386,12900.9493,10946.2773,12585.4751,11541.0266,10852.3153,9617.5942,11432.9425
8,Madagascar,(R),982.4470,932.5130,1121.6840,441.8590,641.3720,785.0090,849.0080,623.8040,991.7990,427.3170,362.1618,147.2360,445.4550,434.6580,521.6600,599.1490,586.5100,614.1661,727.6884,456.9613,529.7233,584.8528,499.7094,584.4758,501.4544,414.2320,452.7566,404.1924,379.3768,383.3125
9,Malawi,(A),104.6280,124.2860,137.1610,62.1110,84.1120,91.2350,48.6500,60.8200,64.3210,59.0000,63.1380,60.3900,42.4640,48.1550,20.6150,24.4160,16.6630,18.8120,20.7530,16.9220,16.9285,25.8264,22.8262,27.7944,24.7098,21.2015,19.5160,14.4703,12.8656,16.0431

In [14]:
df_total_production = df_total_production.rename(columns={'Crop year' : 'Country', 'Unnamed: 1' : 'Coffee type'})
df_total_production.head(10)

,Country,Coffee type,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,1998/99,1999/00,2000/01,2001/02,2002/03,2003/04,2004/05,2005/06,2006/07,2007/08,2008/09,2009/10,2010/11,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,April group,NaN,40795.2926,42529.5454,46868.2042,40166.7591,39990.3663,29395.9601,44297.8201,39475.8391,50892.4914,60964.3808,44388.5123,43820.7209,61377.8509,41167.9217,53794.2011,48116.2188,63835.5273,52916.7740,68552.3628,61568.4777,71811.3709,64395.2131,75895.8810,74494.0133,69873.1443,71331.7881,75507.8515,70324.4647,81707.9885,76075.7437
2,Angola,(R/A),50.3450,79.3310,77.5200,32.6080,76.8020,62.1090,70.9250,64.3300,85.3440,54.9390,49.7850,20.6900,56.6400,38.0130,14.7700,24.9650,35.0950,35.6310,37.6100,13.4200,34.9700,28.7150,32.7900,34.9350,39.4050,40.5150,44.8300,35.0060,41.9027,51.8419
3,Bolivia (Plurinational State of),(A),122.7770,103.5360,120.2350,50.8230,116.9440,142.4850,124.5790,140.7190,137.9850,157.7020,147.6040,94.0160,126.6680,103.3230,154.8071,109.9692,146.4297,116.0292,120.4186,128.4751,117.2249,131.8354,105.2812,119.9122,99.8766,84.2191,77.9835,83.8112,82.5687,81.2654
4,Brazil,(A/R),27285.6286,27293.4934,34603.3542,28166.9786,28192.0470,18060.2022,29196.7430,26148.0040,36760.8533,47577.8065,31310.3530,31365.0955,48351.6340,28873.4093,39281.1457,32932.9797,48431.7338,38911.4571,51490.5177,43976.8120,55428.4102,48591.8289,55418.0012,54688.9664,53304.7669,52870.5876,56788.1784,52739.8179,65130.7997,58210.7127
5,Burundi,(A/R),487.3930,667.1990,620.2380,393.3540,664.1430,433.9800,400.9690,249.7850,491.9920,350.5500,487.4600,143.9820,453.7320,337.8580,437.0360,103.3150,498.5000,132.8560,411.7822,111.6130,352.9776,204.1328,405.9615,163.2177,247.5500,269.4576,196.4128,202.1079,204.3391,272.4688
6,Ecuador,(A/R),1503.8150,2123.8240,1185.4800,2069.0070,2375.7660,1888.2330,1992.9140,1190.6630,1205.9680,1197.6832,853.8170,792.8470,582.2240,640.7900,780.4350,935.3007,1034.5199,950.4028,770.6473,813.2849,853.9798,825.4144,828.1024,665.5450,644.0112,644.4926,644.8845,623.5744,496.0001,558.9352
7,Indonesia,(R/A),7441.3830,8493.1960,5569.4780,6743.2880,5367.8780,4573.4290,8220.5840,7620.7780,7295.9550,6557.0662,6987.2397,6833.3560,6731.3760,6404.0760,7536.3710,9158.9594,7482.6737,7776.5557,9612.3466,11379.6699,9128.5118,6888.9233,13070.0386,12900.9493,10946.2773,12585.4751,11541.0266,10852.3153,9617.5942,11432.9425
8,Madagascar,(R),982.4470,932.5130,1121.6840,441.8590,641.3720,785.0090,849.0080,623.8040,991.7990,427.3170,362.1618,147.2360,445.4550,434.6580,521.6600,599.1490,586.5100,614.1661,727.6884,456.9613,529.7233,584.8528,499.7094,584.4758,501.4544,414.2320,452.7566,404.1924,379.3768,383.3125
9,Malawi,(A),104.6280,124.2860,137.1610,62.1110,84.1120,91.2350,48.6500,60.8200,64.3210,59.0000,63.1380,60.3900,42.4640,48.1550,20.6150,24.4160,16.6630,18.8120,20.7530,16.9220,16.9285,25.8264,22.8262,27.7944,24.7098,21.2015,19.5160,14.4703,12.8656,16.0431

In [15]:
df_total_production.Country.unique()

array([nan, 'April group', 'Angola', 'Bolivia (Plurinational State of)',
       'Brazil', 'Burundi', 'Ecuador', 'Indonesia', 'Madagascar',
       'Malawi', 'Papua New Guinea', 'Paraguay', 'Peru', 'Rwanda',
       'Timor-Leste', 'Zimbabwe', 'July group', 'Congo', 'Cuba',
       'Dominican Republic', 'Haiti', 'Philippines', 'Tanzania', 'Zambia',
       'October group', 'Cameroon', 'Central African Republic',
       'Colombia', 'Costa Rica', "Côte d'Ivoire",
       'Democratic Republic of Congo', 'El Salvador', 'Equatorial Guinea',
       'Ethiopia', 'Gabon', 'Ghana', 'Guatemala', 'Guinea', 'Guyana',
       'Honduras', 'India', 'Jamaica', 'Kenya',
       "Lao People's Democratic Republic", 'Liberia', 'Mexico', 'Nepal',
       'Nicaragua', 'Nigeria', 'Panama', 'Sierra Leone', 'Sri Lanka',
       'Thailand', 'Togo', 'Trinidad & Tobago', 'Uganda', 'Venezuela',
       'Viet Nam', 'Yemen', 'Total',
       '© International Coffee Organization'], dtype=object)

In [16]:
df_total_production.drop(index=[0, 1, 17, 26, 62 ,63] , inplace = True ) 
df_total_production.Country.value_counts()
# df_total_production[df_total_production.Country == '© International Coffee Organization']
# df_total_production[df_total_production.Country  == 'Total']

Country
Angola                      1
Mexico                      1
Gabon                       1
Ghana                       1
Guatemala                   1
                           ..
Central African Republic    1
Colombia                    1
Costa Rica                  1
Côte d'Ivoire               1
Yemen                       1
Name: count, Length: 55, dtype: int64

In [17]:
df_total_production.Country.unique()

array(['Angola', 'Bolivia (Plurinational State of)', 'Brazil', 'Burundi',
       'Ecuador', 'Indonesia', 'Madagascar', 'Malawi', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Rwanda', 'Timor-Leste', 'Zimbabwe', nan,
       'Congo', 'Cuba', 'Dominican Republic', 'Haiti', 'Philippines',
       'Tanzania', 'Zambia', 'Cameroon', 'Central African Republic',
       'Colombia', 'Costa Rica', "Côte d'Ivoire",
       'Democratic Republic of Congo', 'El Salvador', 'Equatorial Guinea',
       'Ethiopia', 'Gabon', 'Ghana', 'Guatemala', 'Guinea', 'Guyana',
       'Honduras', 'India', 'Jamaica', 'Kenya',
       "Lao People's Democratic Republic", 'Liberia', 'Mexico', 'Nepal',
       'Nicaragua', 'Nigeria', 'Panama', 'Sierra Leone', 'Sri Lanka',
       'Thailand', 'Togo', 'Trinidad & Tobago', 'Uganda', 'Venezuela',
       'Viet Nam', 'Yemen'], dtype=object)

In [18]:
df_total_production.head()

,Country,Coffee type,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,1998/99,1999/00,2000/01,2001/02,2002/03,2003/04,2004/05,2005/06,2006/07,2007/08,2008/09,2009/10,2010/11,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20
2,Angola,(R/A),50.3450,79.3310,77.5200,32.6080,76.802,62.1090,70.925,64.330,85.3440,54.9390,49.785,20.6900,56.640,38.0130,14.7700,24.9650,35.0950,35.6310,37.6100,13.4200,34.9700,28.7150,32.7900,34.9350,39.4050,40.5150,44.8300,35.0060,41.9027,51.8419
3,Bolivia (Plurinational State of),(A),122.7770,103.5360,120.2350,50.8230,116.944,142.4850,124.579,140.719,137.9850,157.7020,147.604,94.0160,126.668,103.3230,154.8071,109.9692,146.4297,116.0292,120.4186,128.4751,117.2249,131.8354,105.2812,119.9122,99.8766,84.2191,77.9835,83.8112,82.5687,81.2654
4,Brazil,(A/R),27285.6286,27293.4934,34603.3542,28166.9786,28192.047,18060.2022,29196.743,26148.004,36760.8533,47577.8065,31310.353,31365.0955,48351.634,28873.4093,39281.1457,32932.9797,48431.7338,38911.4571,51490.5177,43976.8120,55428.4102,48591.8289,55418.0012,54688.9664,53304.7669,52870.5876,56788.1784,52739.8179,65130.7997,58210.7127
5,Burundi,(A/R),487.3930,667.1990,620.2380,393.3540,664.143,433.9800,400.969,249.785,491.9920,350.5500,487.460,143.9820,453.732,337.8580,437.0360,103.3150,498.5000,132.8560,411.7822,111.6130,352.9776,204.1328,405.9615,163.2177,247.5500,269.4576,196.4128,202.1079,204.3391,272.4688
6,Ecuador,(A/R),1503.8150,2123.8240,1185.4800,2069.0070,2375.766,1888.2330,1992.914,1190.663,1205.9680,1197.6832,853.817,792.8470,582.224,640.7900,780.4350,935.3007,1034.5199,950.4028,770.6473,813.2849,853.9798,825.4144,828.1024,665.5450,644.0112,644.4926,644.8845,623.5744,496.0001,558.9352

In [19]:
df_total_production.reset_index(drop = True, inplace = True )
df_total_production.head(10)

,Country,Coffee type,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,1998/99,1999/00,2000/01,2001/02,2002/03,2003/04,2004/05,2005/06,2006/07,2007/08,2008/09,2009/10,2010/11,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20
0,Angola,(R/A),50.3450,79.3310,77.5200,32.6080,76.8020,62.1090,70.9250,64.3300,85.3440,54.9390,49.7850,20.6900,56.6400,38.0130,14.7700,24.9650,35.0950,35.6310,37.6100,13.4200,34.9700,28.7150,32.7900,34.9350,39.4050,40.5150,44.8300,35.0060,41.9027,51.8419
1,Bolivia (Plurinational State of),(A),122.7770,103.5360,120.2350,50.8230,116.9440,142.4850,124.5790,140.7190,137.9850,157.7020,147.6040,94.0160,126.6680,103.3230,154.8071,109.9692,146.4297,116.0292,120.4186,128.4751,117.2249,131.8354,105.2812,119.9122,99.8766,84.2191,77.9835,83.8112,82.5687,81.2654
2,Brazil,(A/R),27285.6286,27293.4934,34603.3542,28166.9786,28192.0470,18060.2022,29196.7430,26148.0040,36760.8533,47577.8065,31310.3530,31365.0955,48351.6340,28873.4093,39281.1457,32932.9797,48431.7338,38911.4571,51490.5177,43976.8120,55428.4102,48591.8289,55418.0012,54688.9664,53304.7669,52870.5876,56788.1784,52739.8179,65130.7997,58210.7127
3,Burundi,(A/R),487.3930,667.1990,620.2380,393.3540,664.1430,433.9800,400.9690,249.7850,491.9920,350.5500,487.4600,143.9820,453.7320,337.8580,437.0360,103.3150,498.5000,132.8560,411.7822,111.6130,352.9776,204.1328,405.9615,163.2177,247.5500,269.4576,196.4128,202.1079,204.3391,272.4688
4,Ecuador,(A/R),1503.8150,2123.8240,1185.4800,2069.0070,2375.7660,1888.2330,1992.9140,1190.6630,1205.9680,1197.6832,853.8170,792.8470,582.2240,640.7900,780.4350,935.3007,1034.5199,950.4028,770.6473,813.2849,853.9798,825.4144,828.1024,665.5450,644.0112,644.4926,644.8845,623.5744,496.0001,558.9352
5,Indonesia,(R/A),7441.3830,8493.1960,5569.4780,6743.2880,5367.8780,4573.4290,8220.5840,7620.7780,7295.9550,6557.0662,6987.2397,6833.3560,6731.3760,6404.0760,7536.3710,9158.9594,7482.6737,7776.5557,9612.3466,11379.6699,9128.5118,6888.9233,13070.0386,12900.9493,10946.2773,12585.4751,11541.0266,10852.3153,9617.5942,11432.9425
6,Madagascar,(R),982.4470,932.5130,1121.6840,441.8590,641.3720,785.0090,849.0080,623.8040,991.7990,427.3170,362.1618,147.2360,445.4550,434.6580,521.6600,599.1490,586.5100,614.1661,727.6884,456.9613,529.7233,584.8528,499.7094,584.4758,501.4544,414.2320,452.7566,404.1924,379.3768,383.3125
7,Malawi,(A),104.6280,124.2860,137.1610,62.1110,84.1120,91.2350,48.6500,60.8200,64.3210,59.0000,63.1380,60.3900,42.4640,48.1550,20.6150,24.4160,16.6630,18.8120,20.7530,16.9220,16.9285,25.8264,22.8262,27.7944,24.7098,21.2015,19.5160,14.4703,12.8656,16.0431
8,Papua New Guinea,(A/R),962.8410,746.8160,900.1110,1019.4810,1138.6590,1002.3630,1089.3480,1074.0210,1352.1490,1387.0519,1040.7392,1062.5930,1085.1470,1154.9440,997.5140,1268.1328,807.2202,967.7113,1027.6529,1037.9942,866.5184,1413.8545,716.4880,835.3594,797.5642,711.9818,1171.1449,733.9382,930.3690,751.7210
9,Paraguay,0,130.6270,79.6530,54.2910,66.5275,25.2643,26.2539,30.8431,49.3411,31.7401,18.9727,21.6077,22.1635,35.5806,47.4951,38.0519,43.7337,34.7537,38.6302,20.0149,20.0166,20.1967,20.0195,20.0065,20.0319,20.0195,20.0000,20.0104,20.0013,20.0135,20.0038

In [20]:
df_total_production['Coffee type'].unique()

array(['(R/A)', '(A)', '(A/R)', '(R)', 0, nan], dtype=object)

In [21]:
df_total_production['Coffee type'].replace({'(R/A)' : 'Arabica/Robusta', '(A)' : 'Arabica', '(R)' : 'Robusta' , '(A/R)' : 'Arabica/Robusta', 0 : 'Arabica' }, inplace = True )

In [22]:
df_total_production['Coffee type'].unique()

array(['Arabica/Robusta', 'Arabica', 'Robusta', nan], dtype=object)

In [23]:
# df_total_production.isnull().sum()
nan_values = df_total_production[df_total_production.isna().any(axis=1)].index
print(nan_values)

Index([14, 22, 57], dtype='int64')

In [24]:
# df_total_production.iloc[56]
df_total_production.drop(index = [ 14,22,57], inplace = True )

In [25]:
df_total_production.info()

<class 'pandas.core.frame.DataFrame'>
Index: 55 entries, 0 to 56
Data columns (total 32 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      55 non-null     object
 1   Coffee type  55 non-null     object
 2   1990/91      55 non-null     float64
 3   1991/92      55 non-null     float64
 4   1992/93      55 non-null     float64
 5   1993/94      55 non-null     float64
 6   1994/95      55 non-null     float64
 7   1995/96      55 non-null     float64
 8   1996/97      55 non-null     float64
 9   1997/98      55 non-null     float64
 10  1998/99      55 non-null     float64
 11  1999/00      55 non-null     float64
 12  2000/01      55 non-null     float64
 13  2001/02      55 non-null     float64
 14  2002/03      55 non-null     float64
 15  2003/04      55 non-null     float64
 16  2004/05      55 non-null     float64
 17  2005/06      55 non-null     float64
 18  2006/07      55 non-null     float64
 19  2007/08      55 non-null     float64
 20  2008/09      55 non-null     float64
 21  2009/10      55 non-null     float64
 22  2010/11      55 non-null     float64
 23  2011/12      55 non-null     float64
 24  2012/13      55 non-null     float64
 25  2013/14      55 non-null     float64
 26  2014/15      55 non-null     float64
 27  2015/16      55 non-null     float64
 28  2016/17      55 non-null     float64
 29  2017/18      55 non-null     float64
 30  2018/19      55 non-null     float64
 31  2019/20      55 non-null     float64
dtypes: float64(30), object(2)
memory usage: 14.2+ KB

In [26]:
# df_total_production.reset_index(drop = True , inplace = True)
df_total_production.head()

,Country,Coffee type,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,1998/99,1999/00,2000/01,2001/02,2002/03,2003/04,2004/05,2005/06,2006/07,2007/08,2008/09,2009/10,2010/11,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20
0,Angola,Arabica/Robusta,50.3450,79.3310,77.5200,32.6080,76.802,62.1090,70.925,64.330,85.3440,54.9390,49.785,20.6900,56.640,38.0130,14.7700,24.9650,35.0950,35.6310,37.6100,13.4200,34.9700,28.7150,32.7900,34.9350,39.4050,40.5150,44.8300,35.0060,41.9027,51.8419
1,Bolivia (Plurinational State of),Arabica,122.7770,103.5360,120.2350,50.8230,116.944,142.4850,124.579,140.719,137.9850,157.7020,147.604,94.0160,126.668,103.3230,154.8071,109.9692,146.4297,116.0292,120.4186,128.4751,117.2249,131.8354,105.2812,119.9122,99.8766,84.2191,77.9835,83.8112,82.5687,81.2654
2,Brazil,Arabica/Robusta,27285.6286,27293.4934,34603.3542,28166.9786,28192.047,18060.2022,29196.743,26148.004,36760.8533,47577.8065,31310.353,31365.0955,48351.634,28873.4093,39281.1457,32932.9797,48431.7338,38911.4571,51490.5177,43976.8120,55428.4102,48591.8289,55418.0012,54688.9664,53304.7669,52870.5876,56788.1784,52739.8179,65130.7997,58210.7127
3,Burundi,Arabica/Robusta,487.3930,667.1990,620.2380,393.3540,664.143,433.9800,400.969,249.785,491.9920,350.5500,487.460,143.9820,453.732,337.8580,437.0360,103.3150,498.5000,132.8560,411.7822,111.6130,352.9776,204.1328,405.9615,163.2177,247.5500,269.4576,196.4128,202.1079,204.3391,272.4688
4,Ecuador,Arabica/Robusta,1503.8150,2123.8240,1185.4800,2069.0070,2375.766,1888.2330,1992.914,1190.663,1205.9680,1197.6832,853.817,792.8470,582.224,640.7900,780.4350,935.3007,1034.5199,950.4028,770.6473,813.2849,853.9798,825.4144,828.1024,665.5450,644.0112,644.4926,644.8845,623.5744,496.0001,558.9352

In [27]:
#  In order to obtain kg values, data have to be multiplaying by 60 kg coffee bags and 1 000 value ( production is given as thousand 60kg bags )

In [28]:
years = df_total_production.iloc[:, 2:]
years = years.apply(lambda x: round(x, 0))
country_coffee = df_total_production.iloc[:, 0:2]
years.head()

,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,1998/99,1999/00,2000/01,2001/02,2002/03,2003/04,2004/05,2005/06,2006/07,2007/08,2008/09,2009/10,2010/11,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20
0,50.0,79.0,78.0,33.0,77.0,62.0,71.0,64.0,85.0,55.0,50.0,21.0,57.0,38.0,15.0,25.0,35.0,36.0,38.0,13.0,35.0,29.0,33.0,35.0,39.0,41.0,45.0,35.0,42.0,52.0
1,123.0,104.0,120.0,51.0,117.0,142.0,125.0,141.0,138.0,158.0,148.0,94.0,127.0,103.0,155.0,110.0,146.0,116.0,120.0,128.0,117.0,132.0,105.0,120.0,100.0,84.0,78.0,84.0,83.0,81.0
2,27286.0,27293.0,34603.0,28167.0,28192.0,18060.0,29197.0,26148.0,36761.0,47578.0,31310.0,31365.0,48352.0,28873.0,39281.0,32933.0,48432.0,38911.0,51491.0,43977.0,55428.0,48592.0,55418.0,54689.0,53305.0,52871.0,56788.0,52740.0,65131.0,58211.0
3,487.0,667.0,620.0,393.0,664.0,434.0,401.0,250.0,492.0,351.0,487.0,144.0,454.0,338.0,437.0,103.0,498.0,133.0,412.0,112.0,353.0,204.0,406.0,163.0,248.0,269.0,196.0,202.0,204.0,272.0
4,1504.0,2124.0,1185.0,2069.0,2376.0,1888.0,1993.0,1191.0,1206.0,1198.0,854.0,793.0,582.0,641.0,780.0,935.0,1035.0,950.0,771.0,813.0,854.0,825.0,828.0,666.0,644.0,644.0,645.0,624.0,496.0,559.0

In [29]:
years = years.apply(lambda x: x*1000*60)
# print(years)
df_total_production = pd.concat([country_coffee , years], axis = 1 ).reset_index(drop = True )

In [30]:
df_total_production.head()

,Country,Coffee type,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,1998/99,1999/00,2000/01,2001/02,2002/03,2003/04,2004/05,2005/06,2006/07,2007/08,2008/09,2009/10,2010/11,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20
0,Angola,Arabica/Robusta,3.000000e+06,4.740000e+06,4.680000e+06,1.980000e+06,4.620000e+06,3.720000e+06,4.260000e+06,3.840000e+06,5.100000e+06,3.300000e+06,3.000000e+06,1.260000e+06,3.420000e+06,2.280000e+06,9.000000e+05,1.500000e+06,2.100000e+06,2.160000e+06,2.280000e+06,7.800000e+05,2.100000e+06,1.740000e+06,1.980000e+06,2.100000e+06,2.340000e+06,2.460000e+06,2.700000e+06,2.100000e+06,2.520000e+06,3.120000e+06
1,Bolivia (Plurinational State of),Arabica,7.380000e+06,6.240000e+06,7.200000e+06,3.060000e+06,7.020000e+06,8.520000e+06,7.500000e+06,8.460000e+06,8.280000e+06,9.480000e+06,8.880000e+06,5.640000e+06,7.620000e+06,6.180000e+06,9.300000e+06,6.600000e+06,8.760000e+06,6.960000e+06,7.200000e+06,7.680000e+06,7.020000e+06,7.920000e+06,6.300000e+06,7.200000e+06,6.000000e+06,5.040000e+06,4.680000e+06,5.040000e+06,4.980000e+06,4.860000e+06
2,Brazil,Arabica/Robusta,1.637160e+09,1.637580e+09,2.076180e+09,1.690020e+09,1.691520e+09,1.083600e+09,1.751820e+09,1.568880e+09,2.205660e+09,2.854680e+09,1.878600e+09,1.881900e+09,2.901120e+09,1.732380e+09,2.356860e+09,1.975980e+09,2.905920e+09,2.334660e+09,3.089460e+09,2.638620e+09,3.325680e+09,2.915520e+09,3.325080e+09,3.281340e+09,3.198300e+09,3.172260e+09,3.407280e+09,3.164400e+09,3.907860e+09,3.492660e+09
3,Burundi,Arabica/Robusta,2.922000e+07,4.002000e+07,3.720000e+07,2.358000e+07,3.984000e+07,2.604000e+07,2.406000e+07,1.500000e+07,2.952000e+07,2.106000e+07,2.922000e+07,8.640000e+06,2.724000e+07,2.028000e+07,2.622000e+07,6.180000e+06,2.988000e+07,7.980000e+06,2.472000e+07,6.720000e+06,2.118000e+07,1.224000e+07,2.436000e+07,9.780000e+06,1.488000e+07,1.614000e+07,1.176000e+07,1.212000e+07,1.224000e+07,1.632000e+07
4,Ecuador,Arabica/Robusta,9.024000e+07,1.274400e+08,7.110000e+07,1.241400e+08,1.425600e+08,1.132800e+08,1.195800e+08,7.146000e+07,7.236000e+07,7.188000e+07,5.124000e+07,4.758000e+07,3.492000e+07,3.846000e+07,4.680000e+07,5.610000e+07,6.210000e+07,5.700000e+07,4.626000e+07,4.878000e+07,5.124000e+07,4.950000e+07,4.968000e+07,3.996000e+07,3.864000e+07,3.864000e+07,3.870000e+07,3.744000e+07,2.976000e+07,3.354000e+07

In [31]:
df_total_production['Total production'] =  df_total_production.iloc[:, 2:].sum(axis=1)
df_total_production.head(10)

,Country,Coffee type,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,1998/99,1999/00,2000/01,2001/02,2002/03,2003/04,2004/05,2005/06,2006/07,2007/08,2008/09,2009/10,2010/11,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20,Total production
0,Angola,Arabica/Robusta,3.000000e+06,4.740000e+06,4.680000e+06,1.980000e+06,4.620000e+06,3.720000e+06,4.260000e+06,3.840000e+06,5.100000e+06,3.300000e+06,3.000000e+06,1.260000e+06,3.420000e+06,2.280000e+06,9.000000e+05,1.500000e+06,2.100000e+06,2.160000e+06,2.280000e+06,7.800000e+05,2.100000e+06,1.740000e+06,1.980000e+06,2.100000e+06,2.340000e+06,2.460000e+06,2.700000e+06,2.100000e+06,2.520000e+06,3.120000e+06,8.208000e+07
1,Bolivia (Plurinational State of),Arabica,7.380000e+06,6.240000e+06,7.200000e+06,3.060000e+06,7.020000e+06,8.520000e+06,7.500000e+06,8.460000e+06,8.280000e+06,9.480000e+06,8.880000e+06,5.640000e+06,7.620000e+06,6.180000e+06,9.300000e+06,6.600000e+06,8.760000e+06,6.960000e+06,7.200000e+06,7.680000e+06,7.020000e+06,7.920000e+06,6.300000e+06,7.200000e+06,6.000000e+06,5.040000e+06,4.680000e+06,5.040000e+06,4.980000e+06,4.860000e+06,2.070000e+08
2,Brazil,Arabica/Robusta,1.637160e+09,1.637580e+09,2.076180e+09,1.690020e+09,1.691520e+09,1.083600e+09,1.751820e+09,1.568880e+09,2.205660e+09,2.854680e+09,1.878600e+09,1.881900e+09,2.901120e+09,1.732380e+09,2.356860e+09,1.975980e+09,2.905920e+09,2.334660e+09,3.089460e+09,2.638620e+09,3.325680e+09,2.915520e+09,3.325080e+09,3.281340e+09,3.198300e+09,3.172260e+09,3.407280e+09,3.164400e+09,3.907860e+09,3.492660e+09,7.508298e+10
3,Burundi,Arabica/Robusta,2.922000e+07,4.002000e+07,3.720000e+07,2.358000e+07,3.984000e+07,2.604000e+07,2.406000e+07,1.500000e+07,2.952000e+07,2.106000e+07,2.922000e+07,8.640000e+06,2.724000e+07,2.028000e+07,2.622000e+07,6.180000e+06,2.988000e+07,7.980000e+06,2.472000e+07,6.720000e+06,2.118000e+07,1.224000e+07,2.436000e+07,9.780000e+06,1.488000e+07,1.614000e+07,1.176000e+07,1.212000e+07,1.224000e+07,1.632000e+07,6.236400e+08
4,Ecuador,Arabica/Robusta,9.024000e+07,1.274400e+08,7.110000e+07,1.241400e+08,1.425600e+08,1.132800e+08,1.195800e+08,7.146000e+07,7.236000e+07,7.188000e+07,5.124000e+07,4.758000e+07,3.492000e+07,3.846000e+07,4.680000e+07,5.610000e+07,6.210000e+07,5.700000e+07,4.626000e+07,4.878000e+07,5.124000e+07,4.950000e+07,4.968000e+07,3.996000e+07,3.864000e+07,3.864000e+07,3.870000e+07,3.744000e+07,2.976000e+07,3.354000e+07,1.900380e+09
5,Indonesia,Arabica/Robusta,4.464600e+08,5.095800e+08,3.341400e+08,4.045800e+08,3.220800e+08,2.743800e+08,4.932600e+08,4.572600e+08,4.377600e+08,3.934200e+08,4.192200e+08,4.099800e+08,4.038600e+08,3.842400e+08,4.521600e+08,5.495400e+08,4.489800e+08,4.666200e+08,5.767200e+08,6.828000e+08,5.477400e+08,4.133400e+08,7.842000e+08,7.740600e+08,6.567600e+08,7.551000e+08,6.924600e+08,6.511200e+08,5.770800e+08,6.859800e+08,1.540488e+10
6,Madagascar,Robusta,5.892000e+07,5.598000e+07,6.732000e+07,2.652000e+07,3.846000e+07,4.710000e+07,5.094000e+07,3.744000e+07,5.952000e+07,2.562000e+07,2.172000e+07,8.820000e+06,2.670000e+07,2.610000e+07,3.132000e+07,3.594000e+07,3.522000e+07,3.684000e+07,4.368000e+07,2.742000e+07,3.180000e+07,3.510000e+07,3.000000e+07,3.504000e+07,3.006000e+07,2.484000e+07,2.718000e+07,2.424000e+07,2.274000e+07,2.298000e+07,1.045560e+09
7,Malawi,Arabica,6.300000e+06,7.440000e+06,8.220000e+06,3.720000e+06,5.040000e+06,5.460000e+06,2.940000e+06,3.660000e+06,3.840000e+06,3.540000e+06,3.780000e+06,3.600000e+06,2.520000e+06,2.880000e+06,1.260000e+06,1.440000e+06,1.020000e+06,1.140000e+06,1.260000e+06,1.020000e+06,1.020000e+06,1.560000e+06,1.380000e+06,1.680000e+06,1.500000e+06,1.260000e+06,1.200000e+06,8.400000e+05,7.800000e+05,9.600000e+05,8.226000e+07
8,Papua New Guinea,Arabica/Robusta,5.778000e+07,4.482000e+07,5.400000e+07,6.114000e+07,6.834000e+07,6.012000e+07,6.534000e+07,6.444000e+07,8.112000e+07,8.322000e+07,6.246000e+07,6.378000e+07,6.510000e+07,6.930000e+07,5.988000e+07,7.608000e+07,4.842000e+07,5.808000e+07,6.168000e+07,6.228000e+07,5.202000e+07,8.484000e+07,4.296000e+07,5.010000e+07,4.788000e+07,4.272000e+07,7.026000e+07,4.404000e+07,5.580000e+07,4.512000e+07,1.803120e+09
9,Paraguay,Arabica,7.860000e+06,4.800000e+06,3.240000e+06,4.020000e+06,1.500000e+06,1.560000e+06,1.860000e+06,2.940000e+06,1.920000e+06,1.140000e+06,1.320000e+06,1.320000e+06,2.160000e+06,2.820000e+06,2.280000e+06,2.640000e+06,2.100000e+06,2.340000e+06,1.200000e+06,1.200000e+06,1.200000e+06,1.200000e+06,1.200000e+06,1.200000e+06,1.200000e+06,1.200000e+06,1.200000e+06,1.200000e+06,1.200000e+06,1.200000e+06,6.222000e+07